<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="#">Captcha</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
     <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="http://demo-sp:8080">Demo SP</a>
      </li>
      <li class="nav-item">
     </li>
     </ul>
    </div>
  </nav>

  <main role="main" class="container">
    <div class="jumbotron">
      <div class="row justify-content-center">
        <app-captcha></app-captcha>
      </div>  
    </div>
  </main>
